html,
body,
h1,
h2,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'PT Serif';
    font-weight: 400;
}

p {
    font-family: 'PT Sans';
    font-weight: 400;
}

.container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    overflow: hidden;
}

.header .container {
    height: 100%;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 25%;
    filter: brightness(0.9);
}

.header .title {
    position: absolute;
    width: 100%;
    top: 20vh;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    z-index: 2;

}

.header .title h1 {
    font-size: 75px;
    letter-spacing: 10px;
}

.header .title p {
    font-size: 42px;
}

.subheading-section {
    text-align: center;
}

.subheading-section p {
    padding: 60px;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.grid-section .content {
    display: grid;
    grid-template-columns: 25fr 30fr 45fr;
    grid-template-areas: 
    "firstLeft firstCenter firstRight"
    "secondLeft secondCenter secondRight"
    "thirdLeft thirdCenter thirdRight"
    "fourthLeft fourthCenter fourthRight";
    gap: 30px;
    padding: 0 60px;
    margin-bottom: 100px;
}

.grid-section .content .number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #86ddf3;
    font-family: "PT Serif";
    font-size: 200px;
    color: #fff;
}

.grid-section .content .text {
    text-align: center;
    padding: 20px 0;
}

.grid-section .content .text h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.grid-section .content .text p {
    font-size: 30px;
}

.grid-section .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#number-1 {
    grid-area: firstLeft;
}

#text-1 {
    grid-area: firstCenter;
}

#image-1 {
    grid-area: firstRight;
}

#number-2 {
    grid-area: secondCenter;
}

#image-2 {
    grid-area: secondLeft;
}

#text-2 {
    grid-area: secondRight;
}

#text-3 {
    grid-area: thirdLeft;
}

#number-3 {
    grid-area: thirdCenter;
}

#image-3 {
    grid-area: 3/thirdRight/5/fourthRight;
}

#text-4 {
    grid-area: fourthLeft;
}

#number-4 {
    grid-area: fourthCenter;
}

.footer {
    margin-bottom: 30px;
}

.footer .content {
    display: flex;
    flex-flow: row wrap;
}

.footer .content .text {
    flex: 0 0 50%;
    margin-top: 50px;
}

.footer .content .text .text-content {
    padding: 30px 50px 250px 100px;
}

.footer .content .text h2 {
    width: 65%;
   font-size: 90px;
   font-weight: 700;
   margin-bottom: 30px;
}

.footer .content .text p {
    font-size: 26px;
    line-height: 1.5;
}

.footer .content .image {
    flex: 0 0 50%;
}

.footer .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .hashtag {
    position: absolute;
    color: #86ddf3;
    font-weight: 700;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 150px;
    padding-left: 1.3%;
}

.footer .hashtag span {
    color: #fff;
}