html,
body,
h1,
h2,
p {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.heading-section {
    height: 100vh;
    overflow: hidden;
}

.heading-section .container {
    height: 100%;
}

.heading-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 25%;
    filter: brightness(0.9);
}

.heading-section .title {
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
    color: #fff;
    z-index: 2;

}

.heading-section .title h1 {
    font-family: 'PT Serif';
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 10px;
}

.heading-section .title p {
    font-family: 'PT Sans';
    font-size: 42px;
}